* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#151515;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table_header_color {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color:white;
}
.table_cell_color {
  font-family: 'Lato', sans-serif;
  color:white;
}
